footer {
    margin-top: 200px;
    padding: 20px 0;

    .icons {
        text-align: end;
        position: relative;
        bottom: 35px;

        a {margin-left: 0;}

        .fab, .far {
            color: white;
            font-size: 35px;
            margin-left: 40px;
        }
        .fab:hover, .far:hover {
            color: #BD2587;
        }
    }

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        font-size: 30px;
        color: $secondairyColor;

        .fas {
            color: $secondairyColor;
        }
    }
}



