/* RESETS */
*,
*::before, *::after {
  box-sizing: border-box;
}
html, body, p, a, ul, li, h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: default;
}
ul {list-style-type: none;}
a {text-decoration: none; cursor: pointer;}
img {width: 100%;}
/* END RESETS */